// COLORS

.default {
  color: $default;
}

.primary {
  color: $primary;
}

.success {
  color: $success;
}

.info {
  color: $info;
}

.warning {
  color: $warning;
}

.danger {
  color: $danger;
}
.dark {
  color: $dark;
}
.light {
  color: $light;
}
//Background Colors

.default-bg {
  background-color: $default;
}

.primary-bg {
  background-color: $primary;
}

.success-bg {
  background-color: $success;
}

.info-bg {
  background-color: $info;
}

.warning-bg {
  background-color: $warning;
}

.danger-bg {
  background-color: $danger;
}
.dark-bg {
  background-color: $dark;
}

.dark-bg-opaque {
  background-color: $dark-opacity;
}
