// BEGIN HELPER
/* ---------- Padding  --------- */
.p-l{
  padding-left: 20px;
}
.p-0{
  padding: 0;

}
.p-t-10 {
	padding-top:10px;
}
.p-b-10 {
	padding-bottom:10px;
}
.p-t-15 {
	padding-top:15px;
}
.p-b-15 {
	padding-bottom:15px;
}
.p-t-20 {
	padding-top:20px;
}
.p-b-20 {
	padding-bottom:20px;
}
.p-t-25 {
	padding-top:25px;
}
.p-b-25 {
	padding-bottom:25px;
}
.p-t-30 {
	padding-top:30px;
}
.p-b-30 {
	padding-bottom:30px;
}
.p-t-35 {
	padding-top:35px;
}
.p-b-35 {
	padding-bottom:35px;
}
.p-t-40 {
	padding-top:40px;
}
.p-b-40 {
	padding-bottom:40px;
}
.p-t-45 {
	padding-top:45px;
}
.p-b-45 {
	padding-bottom:45px;
}
.p-t-50 {
	padding-top:50px;
}
.p-b-50 {
	padding-bottom:50px;
}
.p-t-55 {
	padding-top:55px;
}
.p-b-55 {
	padding-bottom:55px;
}
.p-t-60 {
	padding-top:60px;
}
.p-b-60 {
	padding-bottom:60px;
}
.p-t-65 {
	padding-top:65px;
}
.p-b-65 {
	padding-bottom:65px;
}
.p-t-70 {
	padding-top:70px;
}
.p-b-70 {
	padding-bottom:70px;
}
.p-t-75 {
	padding-top:75px;
}
.p-b-75 {
	padding-bottom:75px;
}
.p-t-80 {
	padding-top:80px;
}
.p-b-80 {
	padding-bottom:80px;
}
.p-t-85 {
	padding-top:85px;
}
.p-b-85 {
	padding-bottom:85px;
}
.p-t-90 {
	padding-top:90px;
}
.p-b-90 {
	padding-bottom:90px;
}
.p-t-100 {
	padding-top:100px;
}
.p-b-100 {
	padding-bottom:100px;
}
/* ---------- Margin --------- */
.margin-top-65{
	margin-top: -65px;
}
.m-t-10 {
	margin-top:10px;
}
.m-b-10 {
	margin-bottom:10px;
}
.m-t-15 {
	margin-top:15px;
}
.m-b-15 {
	margin-bottom:15px;
}
.m-t-20 {
	margin-top:20px;
}
.m-b-20 {
	margin-bottom:20px;
}
.m-t-25 {
	margin-top:25px;
}
.m-b-25 {
	margin-bottom:25px;
}
.m-t-30 {
	margin-top:30px;
}
.m-b-30 {
	margin-bottom:30px;
}
.m-t-35 {
	margin-top:35px;
}
.m-b-35 {
	margin-bottom:35px;
}
.m-t-40 {
	margin-top:40px;
}
.m-b-40 {
	margin-bottom:40px;
}
.m-t-45 {
	margin-top:45px;
}
.m-b-45 {
	margin-bottom:45px;
}
.m-t-50 {
	margin-top:50px;
}
.m-b-50 {
	margin-bottom:50px;
}
.m-t-55 {
	margin-top:55px;
}
.m-b-55 {
	margin-bottom:55px;
}
.m-t-60 {
	margin-top:60px;
}
.m-b-60 {
	margin-bottom:60px;
}
.m-t-65 {
	margin-top:65px;
}
.m-b-65 {
	margin-bottom:65px;
}
.m-t-70 {
	margin-top:70px;
}
.m-b-70 {
	margin-bottom:70px;
}
.m-t-75 {
	margin-top:75px;
}
.m-b-75 {
	margin-bottom:75px;
}
.m-t-80 {
	margin-top:80px;
}
.m-b-80 {
	margin-bottom:80px;
}
.m-t-85 {
	margin-top:85px;
}
.m-b-85 {
	margin-bottom:85px;
}
.m-t-90 {
	margin-top:90px;
}
.m-b-90 {
	margin-bottom:90px;
}
.m-t-100 {
	margin-top:100px;
}
.m-b-100 {
	margin-bottom:100px;
}
.m-t-110 {
	margin-top:110px;
}
.m-b-110 {
	margin-bottom:110px;
}

// PERCENTAGE BASED PADDING
/* ---------- Margin --------- */
.m-pt-10 {
	padding-top:10%;
}
.m-pt-20 {
  padding-top: 20%;
}
.m-pt-25 {
  padding-top: 25%;
}
.m-pt-30 {
  padding-top: 30%;
}
.m-pt-35 {
  padding-top: 35%;
}
.m-pt-40 {
  padding-top: 40%;
}
.m-pt-45 {
  padding-top: 45%;
}
.m-pt-50 {
  padding-top: 50%;
}

// PERCENTAGE BASED MARGIN
/* ---------- Margin --------- */
.m-tp-10 {
	margin-top:10%;
}
.m-tp-20 {
  margin-top: 20%;
}
.m-tp-25 {
  margin-top: 25%;
}
.m-tp-30 {
  margin-top: 30%;
}
.m-tp-35 {
  margin-top: 35%;
}
.m-tp-40 {
  margin-top: 40%;
}
.m-tp-45 {
  margin-top: 45%;
}
.m-tp-50 {
  margin-top: 50%;
}
