// LANDING HERO BEGIN

#hero{
  background-image:url('../images/wedding-hero.jpg');
  background-size:cover;
  position:relative;
  height:100vh;
}


.panel-default {
  border: solid 8px rgba(84, 35, 68, .65);
  border-radius: 5px;
  background-color: rgba(18, 18, 18, .9);
}
.cursive-h1{
  font-family: great vibes;
}

h4 {
  font-family: great vibes;
  font-size: 350%;
}

p {
  font-size: 1.35rem;
}
.panel-text,
h2,
h3,
h4,
h5,
h6,
p,
{
  color: $info;
}

.panel-input {
  color: $info;
  width: 87%;
  margin: 0 auto;
}
.panel-btn-primary {
  color: $info;
  width: 87%;
  margin: 0 auto;
}
.rsvp {
  font-size: 2rem;
}

// LANDING HERO END
