// Override Bootstrap variables in this file, e.g.
// #121212, #542344, #BFD1E5, #384866, #F8F4E3, #F9F9F9




$font-size-base: 14px;


$default: #121212;
$primary: #542344;
$pastel: #384866;
$success: #4C6085;
$info: #bfd1e5;
$warning: #740254;
$danger: #470C12;
$dark: #151515;
$light: #f9f9f9;


$dark-opacity: rgba(18, 18, 18, .75);
