.container {
  width: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #121212;
  margin: 2.5rem 2.5rem;
}



h1.primary {
  color: $primary;
}

.jumbotron {
  background-color: #151515;
}
.jumbotron > h1 {
  color: #bbbe64;
}
a {
  color: $primary;
}
a:hover {
  color: $warning;
}
