// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";

// Helper Styles

@import "site/helper";

// Colors

@import "site/colors";

// Sitewide Styles
@import "site/sitewide";
// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";
@import "site/hero";
@import "site/timeline";
// CUSTOM THEME STYLES

body{ margin:0px 0px; }

#hero2{
    background-image:url('../images/rose-bg.jpg');
    background-size:cover;
    position:relative;
    height:100vh;
}
